body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #f0f0f0; /* Couleur de fond pour l'en-tête */
}

.header img {
  max-width: 100px;
  margin-right: 20px;
}

.title {
  flex: 1;
}

.title h1 {
  margin: 0;
}

.title p {
  margin-top: 5px;
}

.logout-btn {
  background-color: red;
  color: white; /* Texte en blanc */
  border: 2px solid black;
  padding: 10px 20px;
  border-radius: 5px;
}

.menu {
  display: flex;
  align-items: center;
  padding: 10px;
}

.menu-controls {
  display: flex;
  align-items: center;
}

#projects-dropdown {
  height: 41px;
  color: black; /* Texte en noir */
  border: 2px solid black;
  background-color: #ffffff;
  padding: 10px 30px;
}

#add-task-btn {
  height: 41px;
  color: black; /* Texte en noir */
  border: 2px solid black;
  border-left: 0px solid black;
  background-color: #ffffff;
  padding: 10px 30px;
}


#add-new-projet {
  margin-left: 10px;
  height: 41px;
  color: black; /* Texte en noir */
  border: 2px solid black;
  border-left: 2px solid black;
  background-color: #dfdede;
  padding: 10px 30px;
}

.container {
  display: flex;
  flex-wrap: wrap; /* Permet à la ligne de contenir plusieurs blocs */
  gap: 20px;
  padding: 10px;
}

.block {
  flex: 1;
  border: 2px solid black;
  padding: 20px;
}

/* Applique une marge en bas à tous les blocs sauf le dernier */
.block:not(:last-child) {
  margin-bottom: 20px;
}

.menu-controls {
  display: flex;
  align-items: center;
  padding: 10px;
}


.input-group {
  height: 27px; /* Ajustement de la hauteur */
  color: black; /* Texte en noir */
  border: 2px solid black;
  border-left: 0px solid black;
  background-color: #f0f0f0;
  padding: 5px 10px; /* Ajustement du padding */
}

.input-group label {
  margin-right: 5px; /* Ajoute un espacement entre le label et le champ de texte */
}

.input-group input {
  height: 100%; /* Ajustement de la hauteur pour remplir complètement le conteneur */
  padding: 0 5px; /* Ajustement du padding */
  border: 1px solid black; /* Ajout de la bordure */
  background-color: #ffffff;
}